<div class="container">
	<div id="naver_map"></div>
	<%= @store.name %>
	<%= @store.addr %>
</div>

<script>
	<% if @store.have_latlng? %>
		loadNaverMap(8)
	<% else %>
		loadNaverMap()
	<% end %>
</script>
