<div id="home">
	<div class="container" style="color: white;">
		<h1 class="ubuntu">LotteryMap</h1>
		<p>로또(Lotto), 연금복권, 스피또의 
		<br class="visible-xs-inline" />
		당첨통계, 당첨점 검색 서비스</p>
	</div>
</div>
