<% if params[:controller] == 'stores' && params[:action] == 'show' %>
	<title><%= store_meta_title(@store) %></title>
	<meta name="description" content="<%= store_meta_description(@store) %>" />
<% else %>
	<title><%= basic_meta_title %></title>
	<meta name="description" content="<%= basic_meta_description %>" />
<% end %>

